*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(128, 164, 226, 0.551),rgba(128, 164, 226, 0.551)),url(images/collegeimge.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
    background: transparent;
    color:rgba(129, 133, 152, 0.2) ;
    
}
.nav-link{
    flex:1;
    text-align: right;

}
.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-link ul li a{
    color: rgb(28, 29, 30);
    text-decoration: none;
    font-size: 13px;

}
.nav-link ul li a::after{
    content:'';
    width: 0%;
    height: 2px;
    background-color: rgb(45, 45, 172);
    transition: 0.5s;
    display: block;
    margin: auto;
}
.nav-link ul li a:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: rgb(28, 35, 35);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.text-box h1{
    font-size: 60px;

}
.text-box p{
    margin: 10px 0 40px;
    font-size: 16px;
    color:rgb(28, 35, 35) ;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color:rgb(28, 35, 35) ;
    border: 1px solid rgb(59, 58, 58);
    padding: 12px;
    background: transparent;
    position: relative;
    cursor: pointer;
    align-items: center;
    border-radius: 7px;
}
.hero-btn:hover{
    border: 1px solid rgb(78, 70, 70);
    background:rgb(90, 140, 157);
    transition: 1s;
}
nav .fa{
    display: block;

}

@media(max-width:700px) {
    .text-box h1{
        font-size: 20px;
    
    }
    .nav-link ul li{
        display: block;
        color: rgb(171, 165, 165);
        margin: 10px;
        font-size: 22px;
        cursor: pointer;

    } 
    .nav-link{
        position: absolute;
        background: rgb(233, 233, 241);
        height: 100vh;
        width: 200px;
        top:0;
        right: -200px;;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: rgb(237, 39, 39);
        margin: 10px;
        font-size: 30px;
        cursor: pointer;

    }
    .nav-link ul{
        padding: 30px;

    }
    
    
}
/*-----course--------*/
.course{
    text-align: center;
    width: 80%;
    margin: auto;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: rgb(43, 41, 41);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis:31%;
    background: rgba(236, 229, 229, 0.792);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 15px,12px;
    box-sizing: border-box;
}
.course-col h3{
    padding-top:15px;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width:700px){
    .row{
flex-direction: column;
    }
}
/*------campus------*/
.campus{
    width: 80%;
    margin: auto;
    text-align:center;
    padding-top: 50px;

}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    
    position: relative;
    overflow: hidden;
    }
.campus-col img{
    width: 100%;
    height: 50%;
}
h3{
    text-align:center;
    padding-top: 20px;
   

}
.layer{
    background: rgba(168, 202, 243, 0.7);
    margin-top: 15px;
    position: absolute;
    transition:0.5s ;
    
   
}

.layer:hover{
    background: rgba(158, 235, 239, 0.7);
    overflow-x: 10s;
}

