.header1 {
    display: flex;
            align-items: center;
            padding: 10px 20px;
            justify-content: space-between;
            border-bottom: 1px solid #e8deb5;
            background-color: #443fab;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 100%;
            height: 80px;
            font-family: Arial, sans-serif;
            border-radius: 12px;
            
}
.header1 img{
    margin-top: 15px;
    width:250px;
    height:80px;
}
.nav{
   justify-content: space-evenly;
    margin-left: 350px;
    display: flex;
    flex-direction:row;
   
}
.nav a{
    display:inline-block;
    font-size: 20px;
    padding :10px 35px;
    text-decoration: none;
    margin-right: 15px;
    color: aliceblue;
    font-weight: 500;
   }

.container {
    margin-top: 10vh;
    padding: 0; 
    width: 100%;
    height: 100vh; 
}

.slider-wrapper {
    width: 100%; 
    height: 100%; 
    margin: 0; 
}

.slider {
    display: flex;
    width: 100%;
    height: 100%; 
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none; 
}
.slider::-webkit-scrollbar {
    display: none; 
}

.slider img {
    flex: 1 0 100%; 
    object-fit: cover; 
    height: 100%;
    width: 100%;
    border: 5px solid rgba(255, 255, 255, 0.5); 
    border-radius: 30px; 
    box-shadow: 0 0 10px rgba(122, 112, 112, 0.3); 
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.8em; 
    height: 0.8em;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover,
.slider-nav a:focus {
    opacity: 1; 

}
.menu-icon{
    margin-left:1410px;
     width: 20vh;
    height: 12vh;
    color: rgb(58, 65, 63);
   
    padding: 15px;
    display: inline-block;
    cursor: pointer;
   
}
.menu-icon ul{
    display: inline-block;
    padding: 10px;
    margin-right: 20px;

}
.menu-icon ul li{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: rgb(187, 213, 204);

}
.menu-icon ul li a{
    font-weight: 500;
}
.menu-icon ul li a:hover{
    color: rgb(219, 226, 233);
    font-size: 20px;
    transition: 0.3ms;
}
.menu-icon:hover{
    color: aliceblue;
}
#head{
    text-align: center;
    text-decoration: none;
    font-size: 38px;
    color:  rgb(219, 226, 233);
    margin-top: 0;
    
}
#p1{
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: rgba(34, 42, 39, 0.69);
    margin-top: 0;
    font-weight: 500;
    
}
#p2{
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color:rgba(34, 42, 39, 0.69);
    margin-top: 0; 
    font-weight: 500;
    
}
.box{
    color:  rgb(219, 226, 233);
    align-items: center;
    box-sizing: border-box;
    margin-left: 40%;

    padding: 15px;
   

}
.box button{
    color:#555858d0; 
    font-size: 25px;
    font-weight: 500;
    padding: 15px;
    border-radius: 10px;
}
.box button:hover{
    background-color: rgba(160, 205, 218, 0.69);;
    transition: 0.2s;

}

@media(max-width:700px) {
    .container1{
        min-height: 25vh;
        width: 100%;
        display: block;
        background-size: contain;
        background-repeat: no-repeat;

        
    }
    #head{
        font-size: 15px;
        margin-top: 0;
    }
    .box button{
        box-sizing:content-box;
        width:20px;
        height: 10px;
        font-size: 15px;
        font-weight: 200;

    }
}
.contain h1,p{
    padding: 10px;


}


.container1 {
    background-color: rgb(219, 226, 233);
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    min-height: 170vh; 
    padding-top: 25px;
}

#text {
    text-align: center;
    padding: 10px;
    margin-top: 20px; 
}

.images {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
    width: 100%; 
    font-size: 25px;
    font-weight: 300; 
}

.image-and-text {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin: 20px 0;
    font-size: 25px;
    width: 100%;
}

#image1, #image2, #image3 {
    border-radius: 20%; 
    border: 2px solid rgb(75, 72, 72);
    width: 100px; 
    height: 100px; 
    padding: 10px;
    margin-bottom: 10px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#icon {
    width: 45vw;
    height: 45vh;
    margin-left: 10px;
    padding-top:  15px;
    background-blend-mode: multiply;
    opacity: 0.5;
    z-index: 1;
}
.container2 {
    background-color: #dde3e3eb;
    height: 55vh;
    padding: 20px;
    border-radius: 13px;
    padding-bottom: 15px;
    position: relative; 
}


.text {
    margin-top: 4px;
    margin-left: auto; 
    margin-right: 25px;
    padding: 10px;
    text-align: left; 
    width: fit-content; 
    position: absolute; 
    right: 25px; 
    top: 50%; 
    transform: translateY(-50%); 
    
}

.text ul {

    padding: 0; 
    margin: 0; 
}

.text ul li {
    padding: 5px 0; }




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.footer {
    background-color: #333;
    color: #fff;
    padding: 15px 0; 
    margin-top: 40px;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px; 

.footer-section {
    flex: 1;
    padding: 8px; 
    min-width: 200px;
}

.footer-section h2 {
    margin-bottom: 10px; 
    font-size: 1.5em;
}

.footer-section p, .footer-section ul {
    font-size: 1em;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 8px; 
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: #f4c10f;
}

.footer-bottom {
    text-align: center;
    padding: 8px 0; 
    background-color: #222;
    margin-top: 15px; 
}


@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
        margin-bottom: 15px; 
    }
}}